<div class="container">
    <a routerLink="task-form/new" class="p-button font-bold">New Task</a>
    <button pButton label="Logout" class="p-button-danger logout-button" (click)="logout()"></button>
</div>

<div class="tasks-grid">
    @for (task of tasks; track task.id) {
        <div class="task-container">
            <p-card [header]="task.title" class="task-card">
                <ng-template pTemplate="header">
                    <img alt="Task Image" src="/OIP.jpg" class="task-image" />
                </ng-template>
                <p class="task-description">
                    {{ task.description }}
                </p>
                <ng-template pTemplate="footer">
                    <div class="footer-buttons">
                        <p-button label="Delete" severity="danger" class="delete-button" (onClick)="deleteTask(task.id)"></p-button>
                        <p-button label="Edit" routerLink="task-form/{{task.id}}" class="edit-button"></p-button>
                    </div>
                </ng-template>
            </p-card>
        </div>
    } @empty {
        <div class="no-tasks-container">
            <p>No tasks found</p>
            <img src="/OIP-Photoroom.png" alt="Cat Image" class="cat-image" />
        </div>
    }
</div>
