
<a routerLink="task-form/new" class="p-button font-bold">
    New Task
</a>

@for (task of tasks; track task.id){
    <p-card header={{task.title}} [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <p>
            {{task.description}}
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Delete" severity="secondary" class="w-full" styleClass="w-full" (onClick)="deleteTask(task.id)"/>
                <a routerLink="task-form/{{task.id}}" class="p-button">Edit</a>
            </div>
        </ng-template>
    </p-card>
} @empty {
    <p>No tasks found</p>
}